@import "../abstract/variables.scss";

.form {
    border-radius: 2rem;
    box-shadow: $shadow;
    padding: 2rem;

    &__title {
        display: block;
        margin-bottom: 20px;
        font-size: 1.2em;
    }

    &__input-group {
        display: grid;
        grid-template-rows: 1 1;
        margin: 1rem 0;
    }

    &__label {
        grid-row: 1 / 2;
        margin-bottom: 0.5rem;
        font-size: 1.1em;
        font-weight: 400;
    }

    &__icon {
        grid-row: 2 / 3;
        margin: auto;
        margin-right: 1rem;
        font-size: 1.5em;
    }

    &__control {
        display: inline-block;
        position: relative;
        grid-row: 2 / 3;
        border: none;
        border-radius: 6px;
        box-shadow: $shadow;
        padding: 0.5em;
        width: 100%;
        resize: none;
        font-family: inherit;
        font-size: 1em;
        font-weight: inherit;
    }

    &__submit {
        margin-right: 1rem;
    }
}
