@import "../abstract/variables.scss";
@import "../abstract/keyframes.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
}

.lead {
    font-weight: 400;
}

html {
    overflow-y: scroll;
    font-size: 62.5%;
}

.app {
    padding: 0 20%;
    width: 100%;
    height: 100%;

    @media (max-width: 1024px) {
        padding: 0;
    }
}

.main {
    display: grid;
    grid-template-columns: 20vw auto;
    width: 100%;
    height: 100%;

    @media (max-width: 1024px) {
        display: block;
        padding: 1rem;
    }
}

.page {
    grid-column-start: 2;
    font-size: 2.5rem;

    @media (max-width: 1024px) {
        padding-bottom: 79px;
        font-size: 2.2rem;
    }

    &__title {
        margin-bottom: 2rem;
        color: $primary-color;
        font-size: 3rem;
    }
}

.post-list {
    list-style: none;

    &__item {
        margin: 2rem 0;
        border-radius: 2rem;
        box-shadow: $shadow;
        padding: 2rem 0;
    }
}

.btn {
    transition: 0.3s;
    outline: none;
    border: none;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    cursor: pointer;
    padding: 1rem;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-size: 0.9em;
    font-weight: 600;

    &:hover:enabled {
        box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.08);
    }

    &:active:enabled {
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
    }

    &:disabled {
        opacity: 0.65;
        box-shadow: none;
        cursor: default;
    }

    &--primary {
        background-color: $primary-color;
        color: #fff;
        &:hover:enabled {
            background-color: rgba(66, 185, 131, 0.9);
        }
    }

    &--secondary {
        color: $primary-color;
    }

    &--no-shadow {
        box-shadow: none;
    }
}

.link {
    text-decoration: none;
    color: $primary-color;
}

.lead {
    font-weight: 400;
}

.error {
    color: red;
}
